{% extends 'base.html' %}{% load static %}{% block stylearea %}{% endblock %} {% block contentarea %}

<!--Banner Wrap Start-->
<div class="kf_inr_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--KF INR BANNER DES Wrap Start-->
                <div class="kf_inr_ban_des">
                    <div class="inr_banner_heading">
                        <h3>404</h3>
                    </div>

                    <div class="kf_inr_breadcrumb">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">404</a></li>
                        </ul>
                    </div>
                </div>
                <!--KF INR BANNER DES Wrap End-->
            </div>
        </div>
    </div>
</div>

<!--Banner Wrap End-->

<!--Content Wrap Start-->
<div class="kf_content_wrap">

    <section class="error_outer_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error_wrap">
                        <div class="error_des">
                            <span>404</span>
                            <h3>Sorry Page Not Found</h3>
                            <p>{{error}}</p>
                            <p>The page you are looking for is not available or has been removed. Try going to <strong>HOME PAGE</strong> by using the button below.</p>
                        </div>
                        <div class="error_thumb">
                            <figure>
                                <img src="extra-images/404_thumb.jpg" alt="" />
                                <figcaption><a href="#"><i class="fa fa-home"></i>GO TO HOME</a></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!--Content Wrap End-->


<!--NEWS LETTERS START-->
<div class="edu2_ft_topbar_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="edu2_ft_topbar_des">
                    <h5>Subcribe weekly newsletter</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu2_ft_topbar_des">
                    <form>
                        <input type="email" placeholder="Enter Valid Email Address">
                        <button><i class="fa fa-paper-plane"></i>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--NEWS LETTERS END-->


{% endblock %} {% block scriptareas %}{% endblock %}